################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs/server/FileContentIndex/06142d10-8855-442a-8423-c9dc0c32501f.vsidx
client/node_modules