################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs/server/FileContentIndex/bf83c6c4-4e43-487b-8ee2-1688a148a539.vsidx
